<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.sol.admin.dao.AdminDAO">
  
  <!--  <insert id="memberJoin" parameterType="mdto">
    INSERT INTO 
     MEMBER(MEM_ID,M_PASSWD, M_NAME,
            M_EMAIL, M_PHONE, ZIPCODE,
            ADDRESS, ADDRESS2, M_JOB)
    VALUES(#{mem_id}
          ,#{m_passwd}
          ,#{m_name}
          ,#{m_email}
          ,#{m_phone}
          ,#{zipcode}
          ,#{address}
          ,#{address2}
          ,#{m_job}
           ) 
   </insert> -->
   
    <select id="logon" parameterType="adto"  resultType="string">
      SELECT ADMIN_ID idKey 
      FROM ADMIN 
      WHERE ADMIN_ID = #{admin_id} 
      AND ADMIN_passwd = #{admin_passwd}
   </select>
   
   
   <select id="getQna" resultType="qdto">
   select  QNA_CONTENT,QNA_TITLE,QNA_NO ,QNA_REG_DATE ,MEM_ID FROM QNA,ROGATUS WHERE QNA.ORDER_NO=ROGATUS.ORDER_NO
   
   </select>

 
   <select id="getMember" resultType="mdto">
   select  MEM_NAME,MEM_ID,MEM_MOBILE,MEM_EMAIL,MEM_ADDRESS FROM MEMBER WHERE ROWNUM&lt;=20
   <!-- &lt; < 왼쪽으로 입을 벌리고 있는 부등호  -->
   </select>

<select id="getItem" resultType="idto">
   select  item_no,item_name,item_first_price,reg_date,item_stock from item where rownum&lt;=20
   </select>





<!--       <select id="getMemers" parameterType="mdto"  -->
<!--                  resultType="mdto"> -->
<!--    SELECT A.*                                                           -->
<!-- 	FROM (SELECT ROWNUM RR, RMEBER.*                                -->
<!-- 	        FROM  (SELECT MEM_ID, M_PASSWD, M_NAME,  -->
<!-- 	                      M_EMAIL, M_PHONE, ZIPCODE,  -->
<!-- 	                      ADDRESS, ADDRESS2, M_JOB, M_ROLL -->
<!--                      FROM MEMBER                                      -->
<!-- 	                ORDER BY MEM_ID) RMEBER) A -->
<!-- 	 <choose> -->
<!-- 	  <when test="mem_id!=null"> -->
<!-- 	     WHERE MEM_ID = #{mem_id}  -->
<!-- 	  </when> -->
<!-- 	 </choose> -->
<!--    </select> -->
   <!-- <select id="memberSelect" parameterType="mdto" resultType="mdto">
	   SELECT MEM_ID, M_PASSWD, M_NAME, M_EMAIL, M_PHONE, 
	          ZIPCODE, ADDRESS, ADDRESS2, M_JOB
	   FROM MEMBER
	   WHERE MEM_ID = #{mem_id} 
   </select>
   <update id="memberUpdate">
	   UPDATE  MEMBER SET 
		 M_PASSWD  = #{m_passwd}
		,M_EMAIL   = #{m_email }
		,M_PHONE   = #{m_phone }
		,ZIPCODE   = #{zipcode }
		,ADDRESS   = #{address }
		,ADDRESS2  = #{address2}
		,M_JOB     = #{m_job   }
		WHERE MEM_ID = #{mem_id} 
   </update> -->
</mapper>