@charset "UTF-8";

table{
	width: 1200px;
	margin:auto;
    border: 0;
    border-spacing: 0;
    border-collapse: collapse;
    margin-left: 100px;
}

table {
    border-collapse: collapse;
    text-align: center;
    line-height: 1.5;
    border: 0px solid #ccc;
    margin: 20px 10px;
}
table td{	
    vertical-align: middle;
}
table thead {
    border-right: 0px solid #ccc;
    border-left: 0px solid #ccc;
    background-color: #b0b435;
}
#input table thead{
    background-color: #848484;
}
table thead th {
    padding: 10px;
    font-weight: bold;
    vertical-align: top;
    color: #fff;
}
table tbody th {
    width: 150px;
    padding: 10px;
    font-weight: bold;
    vertical-align: top;
    border-bottom: 0px solid #ccc;
    background: #fcf1f4;
}
table td {
    width: 350px;
    padding: 10px;
    vertical-align: top;
    border-bottom: 1px solid #ccc;
}

order-boardlist{
	width: 800px;
	
}
#orderListArea{
	margin-left: 480px;
}
#orderComplete-wrap{
	margin-left: 100;
}
.order-title{
	margin-top: 50px;
	margin-left: 460px;


}
.order-title h3{
	font-size: 25px;
	font-weight: bold;
    color: #585858;
}
.order-boardlist{
	margin-left: 460px;
	height: 200px;
}
.order-money{
	margin-top: 100px;
	margin-left: 460px;
	height: 200px;
}
img{
	width: 100%;
}
input{
	border:0.5px solid;
	border-color: #BDBDBD;
	text-align: center;
}
button {
  background-color: #f1f1f1;
  color: black;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
}
button:hover{
	background-color: #BDBDBD;
	color: white;
}

#cart{
	margin-left: 880px;
}
#cartimg{
	width: 20%;
}
#orderComplete-title h3{
	margin-top: 50px;
	margin-left: 480px;
	font-size: 25px;
    font-weight: bold;
    color: #585858;
}
#orderComplete-box{
	margin-top: 50px;
	margin-left:590px;
}
#orderComplete-box table{
	width: 60%;
	height: 200px;	
}
#line-box{
	margin: auto;
	margin-top: 50px;
	border: 0.1px gray solid;
	width: 51%;
}
.shopping-btn{
	margin-top: 50px;
	margin-left: 960px;
}
.order-info{
	margin-top: 40px;
	margin-left: 450px;
}
.order-info table{
	margin-top: 80px;
}
#space{
	color: white;
}

.ordermoney-title{
	margin-top: 50px;
	margin-left: 460px;
}
.ordermoney-title h3{
	font-size: 25px;
	font-weight: bold;
    color: #585858;
}
#input table td{
	border-bottom: 0px;
}
/* orderRefund */
.orderRefund-boardlist table{
	float: left;
	margin-left: 100px;
}

#order-line{
	border-left: #585858;
}
/*refundList*/
#refundList{
	float: inherit;	
	margin-left: 700px;
	
	
}
#refundList table{
	width: 70%;	
}
.refundList-wrap{
	float: right;
    width: 893px;
}
.orderRefund-all-box{
	float: right;
    width: 900px;
}
