@charset "UTF-8";

.productAllSelectDiv {
	margin-left: 25%;
	width: 75%;
	height: 50px;
	background-color: #E0E0E0;
}

.allselect_P {
	padding-top: 15px;
	padding-left: 15px;
	float: left;
}

.productContain {
	margin-top: 15px;
	float: right;
	width: 75%;
	height: 250px;
	border: 1px solid;
}
.productContainNull{
	margin-top: 15px;
	float: right;
	width: 75%;
	height: 250px;
}
.productContainNullText{
	margin-top: 80.5px;
    text-align: center;
    font-weight: bold;
    font-size: 18pt;
}
.productSelect_P {
	position: relative;
	float: left;
	top: 30px;
	left: 25px;
}

.productImg {
	width: 130px;
	margin: 59px;
}

.productText {
	font-weight: bold;
	margin-top: 90px;
	float: right;
	margin-right: 40px;
	width: 365px;
}

.productContext {
	border-right: solid 1px gray;
    float: left;
    padding-right: 16px;
    width: 687px;
    height: 248px;
}

.productBtn {
	background-color: #71b435;
	margin-top: 10px;
	margin-right: 22px;
	float: right;
	text-align: center;
	width: 100px;
}

.productBtnText {
	color: white;
	cursor: pointer;
}
#selectDelete{
	cursor: pointer;
}
#deleteBtn{
	color: white;
}

.productBtnText:hover {
	color: #436c1f;
}

.productBtnContain {
	margin-top: 75px;
}
.selectDelete{
	background-color: white;
	margin-top: 15px;
    margin-left: 12px;
	float: left;
	text-align: center;
	width: 75px;
}
.selectDeleteBtn:hover{
	color: gray;
}